/* round corner image */
/* line 11, less/mixins.less */
.img-round {
  border-radius: 5%;
}
/* center block */
/* line 16, less/mixins.less */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* scale image */
/* drop shadow to section */
/* Preloader */
/* line 4, less/main.less */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff !important;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
}
/* line 15, less/main.less */
#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url(../img/gif/logo.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}
/* line 30, less/main.less */
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
/* line 37, less/main.less */
html {
  width: 100%;
  height: 100%;
}
/* line 43, less/main.less */
.navbar-custom {
  margin-bottom: 0;
  text-transform: capitalize;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 51, less/main.less */
.navbar-custom .navbar-toggle {
  padding: 4px 6px;
  font-size: 4vw;
  color: black;
}
/* line 55, less/main.less */
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
/* line 62, less/main.less */
.navbar-custom .navbar-brand .brand-logo {
  margin-top: -15px;
  margin-left: 20px;
  max-height: 50px;
}
/* line 68, less/main.less */
.navbar-custom a {
  color: black;
}
/* line 73, less/main.less */
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
/* line 77, less/main.less */
.navbar-custom .nav li a:hover {
  color: rgba(0, 0, 0, 0.8);
  outline: none;
  background-color: transparent;
  text-decoration: underline;
}
/* line 83, less/main.less */
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
/* line 89, less/main.less */
.navbar-custom .nav li.active {
  outline: none;
}
/* line 91, less/main.less */
.navbar-custom .nav li.active a {
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 93, less/main.less */
.navbar-custom .nav li.active a:hover {
  color: black;
}
@media (min-width: 768px) {
  /* line 100, less/main.less */
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
  }
  /* line 106, less/main.less */
  .navbar-custom .navbar-brand .brand-logo {
    display: none;
  }
  /* line 110, less/main.less */
  .navbar-custom li {
    padding-left: 2vw;
    padding-right: 2vw;
  }
  /* line 113, less/main.less */
  .navbar-custom li a {
    font-size: 1.5vw;
  }
  /* line 124, less/main.less */
  .navbar-custom.top-nav-collapse {
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  /* line 129, less/main.less */
  .navbar-custom.top-nav-collapse .brand-logo {
    display: inline;
    margin-top: -15px;
    margin-left: 20px;
    max-height: 50px;
  }
  /* line 135, less/main.less */
  .navbar-custom.top-nav-collapse a {
    color: black;
    font-weight: normal;
    font-size: 1.3vw;
  }
}
/* toggle navbar button on hover */
/* line 145, less/main.less */
.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}
/* line 153, less/main.less */
.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}
/* line 157, less/main.less */
.dropdown:hover .dropdown-menu {
  display: block;
}
/* line 161, less/main.less */
.nav-tabs .dropdown-menu,
.nav-pills .dropdown-menu,
.navbar .dropdown-menu {
  margin-top: 0;
}
/* line 165, less/main.less */
.navbar .sub-menu:before {
  border-bottom: 7px solid transparent;
  border-left: none;
  border-right: 7px solid rgba(0, 0, 0, 0.2);
  border-top: 7px solid transparent;
  left: -7px;
  top: 10px;
}
/* line 173, less/main.less */
.navbar .sub-menu:after {
  border-top: 6px solid transparent;
  border-left: none;
  border-right: 6px solid #fff;
  border-bottom: 6px solid transparent;
  left: 10px;
  top: 11px;
  left: -6px;
}
/* line 184, less/main.less */
.intro {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
/* line 197, less/main.less */
.intro .header-logo {
  transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
}
/* line 202, less/main.less */
.intro .main-heading {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 5vw;
  color: black;
  line-height: 80%;
}
/* line 207, less/main.less */
.intro .main-heading small {
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: 0.1vw;
}
/* line 212, less/main.less */
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
@media (min-width: 768px) {
  /* line 218, less/main.less */
  .intro .header-logo {
    transform: scale(0.3, 0.3);
    -ms-transform: scale(0.3, 0.3);
    -webkit-transform: scale(0.3, 0.3);
    margin-top: -5%;
    margin-bottom: -15%;
  }
}
/* line 229, less/main.less */
.section-title {
  margin-top: 15%;
  font-family: 'Pathway Gothic One', sans-serif;
}
/* line 238, less/main.less */
#about .panel .panel-heading .panel-title a {
  font-size: 1.3em;
}
/* line 240, less/main.less */
#about .panel .panel-heading .panel-title a:active,
#about .panel .panel-heading .panel-title a:focus,
#about .panel .panel-heading .panel-title a:visited {
  text-decoration: none;
}
/* line 246, less/main.less */
#about .panel .panel-body {
  font-family: sans-serif;
  font-size: 1.3em;
}
/* line 255, less/main.less */
#service .product-thumbnail .imgWrap {
  position: relative;
  margin-bottom: 20px;
}
/* line 258, less/main.less */
#service .product-thumbnail .imgWrap .service-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
}
/* line 262, less/main.less */
#service .product-thumbnail .imgWrap .imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  color: white;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility opacity 0.2s;
}
/* line 275, less/main.less */
#service .product-thumbnail .imgWrap .imgDescription .about-service {
  position: absolute;
  top: 30%;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}
/* line 283, less/main.less */
#service .product-thumbnail .imgWrap .imgDescription .about-service .inner-img-content .img-title {
  font-size: 150%;
}
/* line 287, less/main.less */
#service .product-thumbnail .imgWrap .imgDescription .about-service .inner-img-content p a {
  font-size: 20px;
}
/* line 295, less/main.less */
#service .product-thumbnail .imgWrap:hover .imgDescription {
  visibility: visible;
  transition: all 0.2s ease-in-out;
  opacity: 1;
  z-index: 99;
}
/* line 308, less/main.less */
.modal-content .modal-body p {
  margin-top: 5%;
  margin-left: 3%;
  margin-right: 3%;
  font-size: 20px;
}
/* line 317, less/main.less */
.product-image {
  max-height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 323, less/main.less */
#leader .leader-div {
  overflow: hidden;
}
/* line 325, less/main.less */
#leader .leader-div .leader-image {
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
}
/* line 329, less/main.less */
#leader .leader-div .leader-image:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.05);
}
/* line 333, less/main.less */
#leader .leader-div .leader-name {
  font-family: 'Pathway Gothic One', sans-serif;
  margin-bottom: 30px;
}
/* line 336, less/main.less */
#leader .leader-div .leader-name small {
  color: rgba(3, 123, 157, 0.8);
}
/* stye academy section */
/* line 344, less/main.less */
#academy {
  display: table;
  height: 70%;
  width: 100%;
  background: url(../img/academy.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 354, less/main.less */
#academy .floating-section {
  color: white;
}
/* line 357, less/main.less */
#academy .floating-section .section-head {
  margin-top: 10%;
}
/* line 359, less/main.less */
#academy .floating-section .section-head .heading {
  background-color: rgba(0, 0, 0, 0.4);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 363, less/main.less */
#academy .floating-section .section-body {
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 22px;
}
/* stye the team's section */
/* line 371, less/main.less */
#team {
  display: table;
  height: 100%;
  width: 100%;
  background: url(../img/team.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 381, less/main.less */
#team .floating-section {
  color: white;
}
/* line 384, less/main.less */
#team .floating-section .section-head {
  margin-top: 10%;
}
/* line 386, less/main.less */
#team .floating-section .section-head .heading {
  background-color: rgba(0, 0, 0, 0.7);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 390, less/main.less */
#team .floating-section .section-body {
  background-color: rgba(0, 0, 0, 0.8);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 22px;
}
/* stye the courses */
/* line 398, less/main.less */
#courses {
  display: table;
  height: 100%;
  width: 100%;
  background: url(../img/courses.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 408, less/main.less */
#courses .floating-section {
  color: white;
}
/* line 411, less/main.less */
#courses .floating-section .section-head {
  margin-top: 10%;
}
/* line 413, less/main.less */
#courses .floating-section .section-head .heading {
  background-color: rgba(0, 0, 0, 0.7);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 417, less/main.less */
#courses .floating-section .section-body {
  background-color: rgba(0, 0, 0, 0.8);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 22px;
}
/* stye the camps */
/* line 425, less/main.less */
#camps {
  display: table;
  height: 100%;
  width: 100%;
  background: url(../img/camps.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 435, less/main.less */
#camps .floating-section {
  color: white;
}
/* line 438, less/main.less */
#camps .floating-section .section-head {
  margin-top: 10%;
}
/* line 440, less/main.less */
#camps .floating-section .section-head .heading {
  background-color: rgba(0, 0, 0, 0.7);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 444, less/main.less */
#camps .floating-section .section-body {
  background-color: rgba(0, 0, 0, 0.8);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 22px;
}
/* footer styles */
/* line 452, less/main.less */
footer {
  padding-top: 20px;
  padding-bottom: 50px;
  background: rgba(3, 123, 157, 0.3);
}
/* line 456, less/main.less */
footer .footer-body {
  color: black;
  font-family: sans-serif;
}
/* line 459, less/main.less */
footer .footer-body .footer-logo {
  max-height: 100px;
  margin-bottom: 10px;
}
/* line 463, less/main.less */
footer .footer-body ul {
  font-size: 15px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
/* line 469, less/main.less */
footer .footer-body ul li a {
  font-weight: normal;
  color: grey;
}
/* line 472, less/main.less */
footer .footer-body ul li a:hover {
  color: #037B9D;
}
/* contact section style */
/* line 482, less/main.less */
#contact {
  padding-top: 6%;
  padding-bottom: 3%;
}
/* line 485, less/main.less */
#contact #contactform {
  margin-bottom: 5%;
  margin-top: 2%;
}
/* line 488, less/main.less */
#contact #contactform .contactform {
  width: 100%;
}
/* line 492, less/main.less */
#contact .address {
  font-family: sans-serif;
}
/* line 495, less/main.less */
#contact #map-container {
  width: 100%;
  height: 300px;
  max-height: 100%;
  margin-bottom: 15px;
  border: 2px solid #fff;
}
/*Change icons size here*/
/* line 505, less/main.less */
.social-icons .fa {
  font-size: 0.7em;
}
/*Change icons circle size and color here*/
/* line 509, less/main.less */
.social-icons .fa {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #FFF;
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 522, less/main.less */
.social-icons.icon-circle .fa {
  border-radius: 50%;
}
/* line 525, less/main.less */
.social-icons .fa-linkedin {
  background-color: #0085AE;
}
/*# sourceMappingURL=css/main.css.map */