/* line 3, less/main.less */
body {
  overflow: hidden;
}
/* Preloader */
/* line 9, less/main.less */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
}
/* line 20, less/main.less */
#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url(../img/gif/logo.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}
/* line 46, less/main.less */
.navbar-default {
  background-color: #1e71f7;
  border-color: #ffffff;
}
/* line 49, less/main.less */
.navbar-default .navbar-brand {
  color: #fcfeff;
}
/* line 51, less/main.less */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000000;
}
/* line 53, less/main.less */
.navbar-default .navbar-text {
  color: #fcfeff;
}
/* line 57, less/main.less */
.navbar-default .navbar-nav > li > a {
  color: #fcfeff;
}
/* line 59, less/main.less */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000000;
}
/* line 63, less/main.less */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #ffffff;
}
/* line 67, less/main.less */
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #ffffff;
}
/* line 70, less/main.less */
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
/* line 72, less/main.less */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffffff;
}
/* line 74, less/main.less */
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fcfeff;
}
/* line 76, less/main.less */
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fcfeff;
}
/* line 79, less/main.less */
.navbar-default .navbar-link {
  color: #fcfeff;
}
/* line 81, less/main.less */
.navbar-default .navbar-link:hover {
  color: #000000;
}
@media (max-width: 767px) {
  /* line 85, less/main.less */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fcfeff;
  }
  /* line 87, less/main.less */
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  /* line 90, less/main.less */
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: #ffffff;
  }
}
/* line 95, less/main.less */
.brand-logo {
  height: 100px;
}
/*# sourceMappingURL=css/main.css.map */