/* round corner image */
/* line 11, less/mixins.less */
.img-round {
  border-radius: 5%;
}
/* center block */
/* line 16, less/mixins.less */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* scale image */
/* drop shadow to section */
/* line 39, less/mixins.less */
.btn-flat {
  border-radius: 0;
}
/* Preloader */
/* line 4, less/main.less */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff !important;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
}
/* line 15, less/main.less */
#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url(../img/gif/logo.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}
/* line 30, less/main.less */
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
/* line 37, less/main.less */
html {
  width: 100%;
  height: 100%;
}
/* line 42, less/main.less */
.navbar-custom {
  margin-bottom: 0;
  text-transform: capitalize;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
/* line 50, less/main.less */
.navbar-custom .navbar-toggle {
  padding: 4px 6px;
  font-size: 4vw;
  color: black;
}
/* line 54, less/main.less */
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
/* line 61, less/main.less */
.navbar-custom .navbar-brand .brand-logo {
  margin-top: -15px;
  margin-left: 20px;
  max-height: 50px;
}
/* line 67, less/main.less */
.navbar-custom a {
  color: black;
}
/* line 72, less/main.less */
.navbar-custom .nav li a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5%;
}
/* line 78, less/main.less */
.navbar-custom .nav li a:hover {
  color: rgba(0, 0, 0, 0.8);
  outline: none;
  background-color: transparent;
  text-decoration: underline;
}
/* line 84, less/main.less */
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
/* line 90, less/main.less */
.navbar-custom .nav li.active {
  outline: none;
}
/* line 92, less/main.less */
.navbar-custom .nav li.active a {
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 94, less/main.less */
.navbar-custom .nav li.active a:hover {
  color: black;
}
/* line 99, less/main.less */
.navbar-custom .nav li.active ul a {
  background-color: transparent;
}
@media (min-width: 768px) {
  /* line 106, less/main.less */
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
  }
  /* line 112, less/main.less */
  .navbar-custom .navbar-brand .brand-logo {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    max-height: 100px;
  }
  /* line 125, less/main.less */
  .navbar-custom li {
    padding-left: 2vw;
    padding-right: 2vw;
  }
  /* line 128, less/main.less */
  .navbar-custom li a {
    font-size: 1.5vw;
  }
  /* line 139, less/main.less */
  .navbar-custom.top-nav-collapse {
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgba(255, 255, 255, 0.95);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  /* line 144, less/main.less */
  .navbar-custom.top-nav-collapse .brand-logo {
    display: inline;
    margin-top: -15px;
    margin-left: 20px;
    max-height: 50px;
  }
  /* line 150, less/main.less */
  .navbar-custom.top-nav-collapse a {
    color: black;
    font-weight: normal;
    font-size: 1.3vw;
  }
}
/* toggle navbar button on hover */
/* line 160, less/main.less */
.dropdown-menu .sub-menu {
  left: 100%;
  position: absolute;
  top: 0;
  visibility: hidden;
  margin-top: -1px;
}
/* line 168, less/main.less */
.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}
/* line 172, less/main.less */
.dropdown:hover .dropdown-menu {
  display: block;
}
/* line 176, less/main.less */
.nav-tabs .dropdown-menu,
.nav-pills .dropdown-menu,
.navbar .dropdown-menu {
  margin-top: 0;
}
/* line 180, less/main.less */
.navbar .sub-menu:before {
  border-bottom: 7px solid transparent;
  border-left: none;
  border-right: 7px solid rgba(0, 0, 0, 0.2);
  border-top: 7px solid transparent;
  left: -7px;
  top: 10px;
}
/* line 188, less/main.less */
.navbar .sub-menu:after {
  border-top: 6px solid transparent;
  border-left: none;
  border-right: 6px solid #fff;
  border-bottom: 6px solid transparent;
  left: 10px;
  top: 11px;
  left: -6px;
}
/* line 199, less/main.less */
.intro {
  display: table;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
  background-color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
/* line 212, less/main.less */
.intro .header-logo {
  transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
}
/* line 217, less/main.less */
.intro .main-heading {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 10vw;
  color: #037B9D;
  line-height: 80%;
}
/* line 222, less/main.less */
.intro .main-heading small {
  color: #00B0A3;
  letter-spacing: 0.1vw;
}
@media (min-width: 768px) {
  /* line 226, less/main.less */
  .intro .main-heading {
    font-size: 5vw;
  }
}
/* line 230, less/main.less */
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
/* line 233, less/main.less */
.intro .intro-body .carousel-inner {
  position: relative;
}
/* line 235, less/main.less */
.intro .intro-body .carousel-inner img {
  width: 100%;
  -moz-filter: brightness(0.2);
  -webkit-filter: brightness(0.2);
  filter: brightness(0.2);
  /* Smaller than standard 960 (devices and browsers) */
  /* Tablet Portrait size to standard 960 (devices and browsers) */
  /* All Mobile Sizes (devices and browser) */
  /* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
  /* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
}
@media only screen and (max-width: 959px) {
  /* line 241, less/main.less */
  .intro .intro-body .carousel-inner img {
    height: 700px;
  }
}
/* line 258, less/main.less */
.intro .intro-body .brand-content {
  position: absolute;
  top: 70px;
  left: 5%;
}
@media (min-width: 768px) {
  /* line 266, less/main.less */
  .intro .header-logo {
    transform: scale(0.3, 0.3);
    -ms-transform: scale(0.3, 0.3);
    -webkit-transform: scale(0.3, 0.3);
    margin-top: -5%;
    margin-bottom: -15%;
  }
}
/* line 277, less/main.less */
.section-title {
  margin-top: 15%;
  font-family: 'Pathway Gothic One', sans-serif;
}
/* line 286, less/main.less */
#about .panel .panel-heading .panel-title a {
  font-size: 1.3em;
}
/* line 288, less/main.less */
#about .panel .panel-heading .panel-title a:active,
#about .panel .panel-heading .panel-title a:focus,
#about .panel .panel-heading .panel-title a:visited {
  text-decoration: none;
}
/* line 294, less/main.less */
#about .panel .panel-body {
  font-family: sans-serif;
  font-size: 1.3em;
}
/* line 303, less/main.less */
#service .product-thumbnail .imgWrap {
  position: relative;
  margin-bottom: 20px;
}
/* line 306, less/main.less */
#service .product-thumbnail .imgWrap .service-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
}
/* line 310, less/main.less */
#service .product-thumbnail .imgWrap .imgDescription {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  color: white;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility opacity 0.2s;
}
/* line 323, less/main.less */
#service .product-thumbnail .imgWrap .imgDescription .about-service {
  position: absolute;
  top: 30%;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}
/* line 331, less/main.less */
#service .product-thumbnail .imgWrap .imgDescription .about-service .inner-img-content .img-title {
  font-size: 150%;
}
/* line 335, less/main.less */
#service .product-thumbnail .imgWrap .imgDescription .about-service .inner-img-content p a {
  font-size: 20px;
}
/* line 343, less/main.less */
#service .product-thumbnail .imgWrap:hover .imgDescription {
  visibility: visible;
  transition: all 0.2s ease-in-out;
  opacity: 1;
  z-index: 99;
}
/* line 356, less/main.less */
.modal-content .modal-body p {
  margin-top: 5%;
  margin-left: 3%;
  margin-right: 3%;
  font-size: 20px;
}
/* line 365, less/main.less */
.product-image {
  max-height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* line 371, less/main.less */
#leader .leader-div {
  overflow: hidden;
}
/* line 373, less/main.less */
#leader .leader-div .leader-image {
  max-height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
}
/* line 377, less/main.less */
#leader .leader-div .leader-image:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.05);
}
/* line 381, less/main.less */
#leader .leader-div .leader-name {
  font-family: 'Pathway Gothic One', sans-serif;
  margin-bottom: 50px;
}
/* line 384, less/main.less */
#leader .leader-div .leader-name small {
  color: rgba(3, 123, 157, 0.8);
}
/* stye academy section */
/* line 392, less/main.less */
#academy {
  display: table;
  height: 70%;
  width: 100%;
  background: url(../img/academy.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 402, less/main.less */
#academy .floating-section {
  color: white;
}
/* line 405, less/main.less */
#academy .floating-section .section-head {
  margin-top: 10%;
}
/* line 407, less/main.less */
#academy .floating-section .section-head .heading {
  background-color: rgba(0, 0, 0, 0.4);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
/* line 411, less/main.less */
#academy .floating-section .section-body {
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 22px;
}
/* stye the team's section */
/* line 420, less/main.less */
.academy-section {
  margin-bottom: 10%;
  overflow: hidden;
}
/* line 422, less/main.less */
.academy-section img {
  border-radius: 5%;
}
/* line 424, less/main.less */
.academy-section img:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}
/* line 427, less/main.less */
.academy-section img:active {
  transition: all 0.2s ease-in-out;
  transform: scale(1);
}
/* line 432, less/main.less */
.academy-section .section-head {
  margin-top: 3%;
}
/* line 438, less/main.less */
.academy-section .section-body {
  font-size: 20px;
}
/* stye the courses */
/* footer styles */
/* line 499, less/main.less */
footer {
  padding-top: 20px;
  padding-bottom: 50px;
  background: rgba(3, 123, 157, 0.3);
}
/* line 503, less/main.less */
footer .footer-body {
  color: black;
  font-family: sans-serif;
}
/* line 506, less/main.less */
footer .footer-body .footer-logo {
  max-height: 100px;
  margin-bottom: 10px;
}
/* line 510, less/main.less */
footer .footer-body ul {
  font-size: 15px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
}
/* line 516, less/main.less */
footer .footer-body ul li a {
  font-weight: normal;
  color: grey;
}
/* line 519, less/main.less */
footer .footer-body ul li a:hover {
  color: #037B9D;
}
/* contact section style */
/* line 529, less/main.less */
#contact {
  padding-top: 6%;
  padding-bottom: 3%;
}
/* line 532, less/main.less */
#contact #contactform,
#contact #contactformTeam {
  margin-bottom: 5%;
  margin-top: 2%;
}
/* line 535, less/main.less */
#contact #contactform .contactform,
#contact #contactformTeam .contactform {
  width: 100%;
}
/* line 539, less/main.less */
#contact .address {
  font-family: sans-serif;
}
/* line 542, less/main.less */
#contact #map-container,
#contact #map-container-team {
  width: 100%;
  height: 300px;
  max-height: 100%;
  margin-bottom: 15px;
  border: 2px solid #fff;
}
/* line 552, less/main.less */
#awards .award-year {
  color: black;
  font-size: 1.3em;
}
/* line 555, less/main.less */
#awards .award-year:active,
#awards .award-year:focus,
#awards .award-year:visited {
  text-decoration: none;
}
/* line 564, less/main.less */
#zero .breadcrumb li {
  font-size: 1.3em;
}
/* line 568, less/main.less */
#zero .product-title {
  color: black;
  font-size: 2em;
  font-family: sans-serif;
  margin-bottom: 40px;
}
/* line 572, less/main.less */
#zero .product-title small {
  color: white;
  font-size: 0.6em;
}
/* line 578, less/main.less */
#zero .product-thumbnail-small {
  max-height: 70px;
}
/* line 581, less/main.less */
#zero .product-thumbnail-small:hover {
  transition: all 0.2s ease-in-out;
  transform: scale(1.5);
}
/* line 585, less/main.less */
#zero .description {
  margin-top: 50px;
}
/* line 587, less/main.less */
#zero .description .panel-heading {
  font-size: 1.5em;
  font-family: fantasy;
}
/* line 591, less/main.less */
#zero .description .panel-body {
  font-size: 1.2em;
  font-family: sans-serif;
}
/* line 599, less/main.less */
.highlights .fa {
  font-size: 20px;
  color: rgba(0, 128, 0, 0.4);
}
/* line 603, less/main.less */
.highlights .main-heading {
  font-family: serif;
  text-transform: uppercase;
}
/* line 606, less/main.less */
.highlights .main-heading a {
  color: #037B9D;
}
/* line 608, less/main.less */
.highlights .main-heading a:active,
.highlights .main-heading a:hover,
.highlights .main-heading a:visited {
  color: #00B0A3;
  text-decoration: none;
}
/* line 614, less/main.less */
.highlights .highlight-img {
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
  position: relative;
  z-index: 90;
}
/* line 620, less/main.less */
.highlights .caption {
  position: absolute;
  top: 50%;
  left: 30%;
  z-index: 99;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5em;
  font-family: fantasy;
}
/* line 629, less/main.less */
.highlights .caption .fa {
  color: rgba(255, 255, 255, 0.8);
}
/* line 633, less/main.less */
.highlights .date {
  font-family: sans-serif;
  font-size: 10px;
}
/* line 636, less/main.less */
.highlights .date .fa {
  color: rgba(0, 0, 0, 0.5);
  font-size: 11px;
}
/* line 641, less/main.less */
.highlights .location {
  text-transform: capitalize;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
}
/* line 650, less/main.less */
.upcoming .fa {
  font-size: 20px;
  color: rgba(255, 0, 0, 0.6);
}
/* line 654, less/main.less */
.upcoming .main-heading {
  font-family: serif;
  text-transform: uppercase;
}
/* line 657, less/main.less */
.upcoming .main-heading a {
  color: #037B9D;
}
/* line 659, less/main.less */
.upcoming .main-heading a:active,
.upcoming .main-heading a:hover,
.upcoming .main-heading a:visited {
  color: #00B0A3;
  text-decoration: none;
}
/* line 665, less/main.less */
.upcoming .date {
  font-family: sans-serif;
  font-size: 13px;
}
/* line 668, less/main.less */
.upcoming .date .fa {
  color: rgba(0, 0, 0, 0.5);
  font-size: 11px;
}
/* line 672, less/main.less */
.upcoming .date .fa-calendar {
  color: green;
}
/* line 676, less/main.less */
.upcoming .location {
  text-transform: capitalize;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
}
/* line 682, less/main.less */
.upcoming .btn {
  margin-top: 5px;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 14px;
}
/* line 687, less/main.less */
.upcoming .btn .fa {
  color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
}
/* line 694, less/main.less */
.details {
  margin-bottom: 100px;
}
/* line 695, less/main.less */
.details .main-heading {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-transform: uppercase;
}
/* line 699, less/main.less */
.details img {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 703, less/main.less */
.details .post-body {
  background-color: rgba(3, 123, 157, 0.04);
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
}
/* line 711, less/main.less */
.details .post-body .date {
  font-family: sans-serif;
  font-size: 10px;
}
/* line 714, less/main.less */
.details .post-body .date .fa {
  color: rgba(0, 0, 0, 0.5);
  font-size: 11px;
}
/* line 719, less/main.less */
.details .post-body .location {
  text-transform: capitalize;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
}
/* line 725, less/main.less */
.details .post-body .about {
  font-family: sans-serif;
  font-size: 14px;
}
/* line 730, less/main.less */
.details .btn {
  font-family: monospace;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 0;
}
/*Change icons size here*/
/* line 740, less/main.less */
.social-icons .fa {
  font-size: 0.7em !important;
}
/*Change icons circle size and color here*/
/* line 744, less/main.less */
.social-icons .fa {
  width: 30px !important;
  height: 30px !important;
  line-height: 30px !important;
  text-align: center !important;
  color: #FFF !important;
  color: rgba(255, 255, 255, 0.8) !important;
  -webkit-transition: all 0.3s ease-in-out !important;
  -moz-transition: all 0.3s ease-in-out !important;
  -ms-transition: all 0.3s ease-in-out !important;
  -o-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
}
/* line 756, less/main.less */
.social-icons .fa:hover {
  -webkit-transform: scale(1.2) !important;
  -moz-transform: scale(1.2) !important;
  -ms-transform: scale(1.2) !important;
  -o-transform: scale(1.2) !important;
  transform: scale(1.2) !important;
  background-color: rgba(0, 176, 163, 0.5) !important;
}
/* line 765, less/main.less */
.social-icons.icon-circle .fa {
  border-radius: 50% !important;
}
/* line 768, less/main.less */
.social-icons .fa-linkedin {
  background-color: #0085AE !important;
}
/* line 771, less/main.less */
.social-icons .fa-facebook {
  background-color: #3C599F !important;
}
/*# sourceMappingURL=css/main.css.map */