@import "mixins.less";
/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff !important;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
}
#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url(../img/gif/logo.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}

body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

html {
    width: 100%;
    height: 100%;
}


.navbar-custom {
    margin-bottom: 0;
    text-transform: capitalize;
    font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    background: fade(white, 95%);
    border-bottom: 1px solid fade(black, 30%);
    .navbar-center {
       margin-left: auto;
    }
    .navbar-toggle {
        padding: 4px 6px;
        font-size: 4vw;
        color: black;
        &:focus,
        &:active {
            outline: none;
        }
    }
    // logo for small viewport
    .navbar-brand {
      .brand-logo {
        margin-top: -15px;
        margin-left: 20px;
        max-height: 50px;
      }
    }
    a {
        color: black;
    }
    .nav {
        li {
            a {
                -webkit-transition: background .3s ease-in-out;
                -moz-transition: background .3s ease-in-out;
                transition: background .3s ease-in-out;
                &:hover {
                    color: fade(black, 80%);
                    outline: none;
                    background-color: transparent;
                    text-decoration: underline;
                }
                &:focus,
                &:active {
                    outline: none;
                    background-color: transparent;
                }
            }
            &.active {
                outline: none;
                a {
                    background-color: fade(black, 30%);
                    &:hover {
                        color: black;
                    }
                }
            }
        }
    }
    @media(min-width:768px) {
        padding: 20px 0;
        border-bottom: none;
        letter-spacing: 1px;
        background: transparent;
        .navbar-center {
           margin-left: 20%;
        }
        .navbar-brand {
            .brand-logo {
              display: none;
            }
        }
        a {
            font-weight: bold;
        }
        // -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        // -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        // transition: background .5s ease-in-out,padding .5s ease-in-out;
        // logo before collapse for large viewport

        &.top-nav-collapse {
            padding-top: 10px;
            padding-bottom: 10px;
            background: fade(white, 95%);
            border-bottom: 1px solid fade(black, 30%);
            .navbar-center {
               margin-left: 30%;
            }
            .brand-logo {
              display: inline;
              margin-top: -15px;
              margin-left: 20px;
              max-height: 50px;
            }
            a {
              color: black;
              font-weight: normal;
            }
        }
    }
}


.intro {
    display: table;
    height: 100%;
    width: 100%;
    // padding: 100px 0;
    text-align: center;
    color: white;
    // background: url("../img/bg.jpg") no-repeat bottom center scroll;
    background-color: silver;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    .header-logo {
      transform: scale(0.5, 0.5);
      -ms-transform: scale(0.5, 0.5);
      -webkit-transform: scale(0.5, 0.5);
    }
    .main-heading {
      font-family: 'Open Sans Condensed', sans-serif;
      font-size: 5vw;
    }
    .intro-body {
        display: table-cell;
        vertical-align: middle;
    }
    @media(min-width:768px) {
        // padding: 100px 0;
        .header-logo {
          transform: scale(0.3, 0.3);
          -ms-transform: scale(0.3, 0.3);
          -webkit-transform: scale(0.3, 0.3);
          margin-bottom: -20%;
        }

    }
}
