@import "mixins.less";

body {
  overflow: hidden;
  background-color: rgba(74, 236, 21, 0.78);
}

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  /* change if the mask should have another color then white */
  z-index: 99;
  /* makes sure it stays on top */
}
#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  /* centers the loading animation horizontally one the screen */
  top: 50%;
  /* centers the loading animation vertically one the screen */
  background-image: url(../img/gif/logo.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
  /* is width and height divided by two */
}

.navbar-default,
.navbar-header {
  height: 100px;
  background-color: transparent;
  border-color: transparent;
}

.collapse {
  background-color: @milky-white;
  .nav {
    li {
      a {
        text-align: center;
        font-size: 12px;
        font-family: sans-serif;
        font-weight: bold;
        &:hover {
          font-size: 14px;
          background: black;
          color: white;
          font-weight: bolder;
        }
      }
    }
  }
}

.brand-logo {
  margin-left: 20px;
  height: 70px;
}
