// mixins and variables

// aqua colors -- brand colors
@aqua-primary: #037B9D;
@aqua-secondary: #00B0A3;

// shades of aqua
@aqua-title: fade(@aqua-primary, 80%);

/* round corner image */
.img-round {
  border-radius: 5%;
}

/* center block */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* scale image */
.scale-img(@factor)
{
  transition: all .2s ease-in-out;
  transform: scale(@factor);
}

/* drop shadow to section */
.drop-shadow(@percentage)
{
   background-color: fade(black, @percentage);
   padding-left: 10px;
   padding-right: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
}
